<style>
  body {
    background-image: url('https://wallpapercave.com/wp/wp3544135.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: dark purple;
    text-align: center;
    padding-top: 100px;
  }

  h2 {
    font-size: 48px;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 40px;
    margin-bottom: 50px;
    color: dark purple;
  }

  p {
    display: block;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 80%;
    line-height: 1.5;
  }


  a {
    display: inline-block;
    
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: all 0.3s ease;
}
</style>
<body style=" background-color: rgba(255, 255, 255, 0.9);  ">
  <h2 style="color:rgb(62, 6, 102);">Song Summarizer</h2>
  <p>
    Welcome to our BTS Song Summarizer! Our website allows you to enter the name of any BTS song and receive a summary of its lyrics. Not sure which song to choose? OR you don't know any BTS songs? No problem! I will recommend a song based on a theme you want to explore!
  </p>
  <h3>Are you curious about what BTS songs mean? Then ask away!</h3>
  <a style="border: 2px solid #000;" href="/index/song">Start by entering song name</a>
  <br>
  <br>
  <br>
  <h3>Don't know any BTS songs? Let me choose for you!</h3>
  <a style="border: 2px solid #000;" href="/index/random">Random Generator</a>
    
</body>